In [4]:
import numpy as np
import tskit
import tszip
import time
import os
import gzip
import pandas as pd

In [5]:
sample_size = 1000
win_sizes = [100]

In [6]:
ts_gene_biallelic = tskit.load("../data/trees/ts_gene_biallelic_N10.trees")
ts_gene_biallelic

In [7]:
sites_pos = ts_gene_biallelic.sites_position
sites_pos

array([49000169., 49000607., 49000831., ..., 49998974., 49999218.,
       49999489.])

In [8]:
ldcalc = tskit.LdCalculator(ts_gene_biallelic)

In [15]:
df = pd.DataFrame()
target_sites_fwd=[]
target_sites_rev=[]
target_positions_fwd=[]
target_positions_rev=[]
r2_fwd=[]
r2_rev=[]

focal_sites=list(range(ts_gene_biallelic.num_sites))
df['focal_pos']=np.take(sites_pos, focal_sites).astype(int)
for focal_site in focal_sites:
    focal_r2_fwd = ldcalc.r2_array(focal_site, direction=tskit.FORWARD, max_mutations=2).flatten()
    focal_r2_rev = ldcalc.r2_array(focal_site, direction=tskit.REVERSE, max_mutations=2).flatten()
    r2_fwd.append(np.round(focal_r2_fwd,2))
    r2_rev.append(np.round(focal_r2_rev,2))
    focal_target_sites_fwd=np.arange(focal_site+1, focal_site+1+len(focal_r2_fwd))
    target_sites_fwd.append(focal_target_sites_fwd)
    target_positions_fwd.append(np.take(sites_pos, focal_target_sites_fwd).astype(int))
    focal_target_sites_rev=np.arange(focal_site-1,focal_site-1-len(focal_r2_rev),-1)
    target_sites_rev.append(focal_target_sites_rev)
    target_positions_rev.append(np.take(sites_pos,focal_target_sites_rev).astype(int))
    
df['target_sites_fwd']=target_sites_fwd
df['target_positions_fwd']=target_positions_fwd
df['r2_fwd']=r2_fwd
df['target_sites_rev']=target_sites_rev
df['target_positions_rev']=target_positions_rev
df['r2_rev']=r2_rev

df

,focal_pos,target_sites_fwd,target_positions_fwd,r2_fwd,target_sites_rev,target_positions_rev,r2_rev
0,49000169,"[1, 2]","[49000607, 49000831]","[0.11, 0.05]",[],[],[]
1,49000607,"[2, 3]","[49000831, 49002173]","[0.07, 0.0]",[0],[49000169],[0.11]
2,49000831,"[3, 4]","[49002173, 49002477]","[0.05, 0.02]","[1, 0]","[49000607, 49000169]","[0.07, 0.05]"
3,49002173,"[4, 5]","[49002477, 49002646]","[0.33, 0.33]","[2, 1]","[49000831, 49000607]","[0.05, 0.0]"
4,49002477,"[5, 6]","[49002646, 49002651]","[1.0, 1.0]","[3, 2]","[49002173, 49000831]","[0.33, 0.02]"
...,...,...,...,...,...,...,...
3258,49998548,"[3259, 3260]","[49998560, 49998974]","[0.01, 0.0]","[3257, 3256]","[49998044, 49997622]","[0.0, 0.01]"
3259,49998560,"[3260, 3261]","[49998974, 49999218]","[0.01, 0.05]","[3258, 3257]","[49998548, 49998044]","[0.01, 0.01]"
3260,49998974,"[3261, 3262]","[49999218, 49999489]","[0.01, 0.04]","[3259, 3258]","[49998560, 49998548]","[0.01, 0.0]"
3261,49999218,[3262],[49999489],[0.37],"[3260, 3259]","[49998974, 49998560]","[0.01, 0.05]"
3262,49999489,[],[],[],"[3261, 3260]","[49999218, 49998974]","[0.37, 0.04]"

In [ ]:
df1 = pd.DataFrame()
target_sites=[]
target_positions=[]
r2=[]
focal_sites=[]
focal_positions=[]
focal_sites=list()
for focal_site in range(ts_gene_biallelic.num_sites):
    r2_fwd = ldcalc.r2_array(focal_site, direction=tskit.FORWARD, max_mutations=2)
    r2_rev = ldcalc.r2_array(focal_site, direction=tskit.REVERSE, max_mutations=2)
    r2.append(np.round(r2_fwd,2))
    r2.append(np.round(r2_rev,2))
    focal_sites.append(np.rep(focal_site,len(r2_fwd)+len(r2_bwd)))
    focal_positions.append(np.rep(focal_site,len(r2_fwd)+len(r2_bwd)))
    
    focal_target_sites_fwd=np.arange(focal_site+1, focal_site+1+len(focal_r2_fwd))
    target_sites_fwd.append(focal_target_sites_fwd)
    target_positions_fwd.append(np.take(sites_pos, focal_target_sites_fwd).astype(int))
    focal_target_sites_rev=np.arange(focal_site-1,focal_site-1-len(focal_r2_rev),-1)
    target_sites_rev.append(focal_target_sites_rev)
    target_positions_rev.append(np.take(sites_pos,focal_target_sites_rev).astype(int))
    
df1['target_site']=target_sites_fwd
df1['target_position']=target_positions_fwd
df1['r2']=r2_fwd


df1

In [2]:
df2=pd.read_pickle("../data/tskit_ld/r2_array_method/N10_w10.ld")
df2
df2

,focal_site,focal_pos,target_sites_fwd,target_positions_fwd,r2_fwd,target_sites_rev,target_positions_rev,r2_rev
0,0,49000169.0,"[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]","[49000607.0, 49000831.0, 49002173.0, 49002477....","[0.10588235294117644, 0.05429864253393664, 0.0...",[],[],[]
1,1,49000607.0,"[2, 3, 4, 5, 6, 7, 8, 9, 10, 11]","[49000831.0, 49002173.0, 49002477.0, 49002646....","[0.06894586894586895, 0.0003267973856209153, 0...",[0],[49000169.0],[0.10588235294117644]
2,2,49000831.0,"[3, 4, 5, 6, 7, 8, 9, 10, 11, 12]","[49002173.0, 49002477.0, 49002646.0, 49002651....","[0.05429864253393664, 0.02216117216117218, 0.0...","[1, 0]","[49000607.0, 49000169.0]","[0.06894586894586895, 0.05429864253393664]"
3,3,49002173.0,"[4, 5, 6, 7, 8, 9, 10, 11, 12, 13]","[49002477.0, 49002646.0, 49002651.0, 49002738....","[0.32941176470588224, 0.32941176470588224, 0.3...","[2, 1, 0]","[49000831.0, 49000607.0, 49000169.0]","[0.05429864253393664, 0.0003267973856209153, 0..."
4,4,49002477.0,"[5, 6, 7, 8, 9, 10, 11, 12, 13, 14]","[49002646.0, 49002651.0, 49002738.0, 49002837....","[1.0000000000000002, 0.9999999999999997, 0.524...","[3, 2, 1, 0]","[49002173.0, 49000831.0, 49000607.0, 49000169.0]","[0.32941176470588224, 0.022161172161172183, 0...."
...,...,...,...,...,...,...,...,...
3258,3258,49998548.0,"[3259, 3260, 3261, 3262]","[49998560.0, 49998974.0, 49999218.0, 49999489.0]","[0.010416666666666664, 0.003086419753086419, 0...","[3257, 3256, 3255, 3254, 3253, 3252, 3251, 325...","[49998044.0, 49997622.0, 49995296.0, 49993816....","[0.003086419753086419, 0.006535947712418299, 0..."
3259,3259,49998560.0,"[3260, 3261, 3262]","[49998974.0, 49999218.0, 49999489.0]","[0.010416666666666664, 0.04999999999999999, 0....","[3258, 3257, 3256, 3255, 3254, 3253, 3252, 325...","[49998548.0, 49998044.0, 49997622.0, 49995296....","[0.010416666666666664, 0.010416666666666664, 0..."
3260,3260,49998974.0,"[3261, 3262]","[49999218.0, 49999489.0]","[0.014814814814814812, 0.04040404040404039]","[3259, 3258, 3257, 3256, 3255, 3254, 3253, 325...","[49998560.0, 49998548.0, 49998044.0, 49997622....","[0.010416666666666664, 0.003086419753086419, 0..."
3261,3261,49999218.0,[3262],[49999489.0],[0.3666666666666667],"[3260, 3259, 3258, 3257, 3256, 3255, 3254, 325...","[49998974.0, 49998560.0, 49998548.0, 49998044....","[0.014814814814814812, 0.04999999999999999, 0...."
3262,3262,49999489.0,[],[],[],"[3261, 3260, 3259, 3258, 3257, 3256, 3255, 325...","[49999218.0, 49998974.0, 49998560.0, 49998548....","[0.36666666666666664, 0.04040404040404038, 0.2..."